{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <div class="entry-list single">
            <article>
                <!-- output loop of all articles here -->
                <h1>{{ entry.title }}</h1>
                <time datetime="{{ entry.date }}">{{ entry.date|date_format('%B %d, %Y') }}</time>
                <div class="entry">
                    <h3>Time Spent: </h3>
                    <p>{{ entry.time_spent }}</p>
                </div>
                <div class="entry">
                    <h3>What I Learned:</h3>
                    {{ entry.what_i_learned }}
                </div>
                <div class="entry">
                    <h3>Resources to Remember:</h3>
                    {{ entry.resources_to_remember }}
                </div>
            </article>
        </div>
    </div>
    <div class="edit">
        <p><a href="{{ url_for('edit', journal_id=entry.id) }}">Edit Entry</a></p>
        <form action="{{ url_for('delete_entry', journal_id=entry.id) }}" method="post">
            <input type="hidden" name="_METHOD" value="DELETE"/>
            <input type="submit" value="Delete Entry" class="button" />
        </form>
    </div>
{% endblock %}
