{% extends 'layout.html' %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div id="snackbar">
            {% for msg in messages %}
                <p>{{ msg }}</p>
            {% endfor %}
            </div>
            <script>
                (() => {
                    const x = document.getElementById("snackbar");
                    x.className = "show";
                    setTimeout(() => {
                        x.className = x.className.replace("show", "");
                    }, 3000);
                })();
            </script>
        {% endif %}
    {% endwith %}

    <div class="container">
        <div class="entry-list">
            {% for entry in entries %}
                <article>
                    <h2><a href="{{ url_for('details', journal_id=entry.id) }}">{{ entry.title }}</a></h2>
                    <time datetime="{{ entry.date }}">
                        {{ entry.date|date_format('%B %d, %Y') }}
                    </time>
                </article>
            {% endfor %}
        </div>
    </div>
{% endblock %}
